{% extends 'base/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">Student List</div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Class</th>
                    <th>Roll</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.student.name }}</td>
                    <td>{{ student.student.gender }}</td>
                    <td> <a href="">{{ student.std_class }}</a></td>
                    <td>{{ student.student.roll }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'edit-student' student.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete-student' student.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>

{% endblock %}
